<div class="col-md-4 col-md-push-4">
    <h2>Issue Vouchers</h2>
    <form role="form" ng-submit="addVoucher()">
        <div class="form-group">
            <label for="check_id">Check</label>
            <select class="form-control"
                    ng-model="voucher.check_id"
                    ng-options="check.id as check.label for check in openChecks">
            </select>
        </div>
        <div class="form-group">
            <label for="issued_to">Recipient</label>
            <input class="form-control" name="issued_to" id="issued_to" type="text" required ng-model="voucher.issued_to"/>
        </div>
        <div class="form-group">
            <label for="voucher_number">Number of Vouchers</label>
            <select class="form-control"
                    ng-model="voucher.vouchers"
                    ng-options="val for val in availableVouchers()">
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a ui-sref="checksIndex">Go Back</a>
    </form>
</div>